<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina dos Polos UNIVESP Pradópolis e Sorocaba">
    <link rel="stylesheet" type="text/css" href="../static/estilos/style.css">
    <title>Polos UNIVESP</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-img" src="..\static\img\logo-univesp.png" alt="Logo da UNIVESP">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item">Vestibular</a>
            <a class="cabecalho-menu-item">Cursos</a>
            <a class="cabecalho-menu-item">Institucional</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-vestibular1">
            <div class="conteudo-vestibular1-escrito">
                <div class="conteudo-vestibular1-escrito1">
                    <h1 class="conteudo-vestibular1-escrito-titulo">Deixe seu email para</h1>
                    <p class="conteudo-vestibular1-escrito-subtitulo">Para receber informações do nosso <strong class="bold-content">Vestibular!</strong></p>
                </div> 
                <div class="conteudo-vestibular1-formulario">
                    <input class="conteudo-vestibular1-email" type="email" placeholder="Deixe Seu Melhor e-mail"/>
                
                    <button class="conteudo-vestibular1-email-botao">Enviar</button>
                    
                </div>
            </div>
            <div class="conteudo-vestibular2">
                <a href="https://univesp.br/vestibular">
                    <img  class="conteudo-img" src="../static/img/Vestibular_2022.png" alt="Último Vestibular">
                </a>
            </div>
        </section>

        <section class="conteudo2">
            <div class="conteudo2-box">
                <a href="https://univesp.br/cursos">
                    <img class="conteudo2-img" src="../static/img/cursos.png" alt="Cursos UNIVESP">
                </a>
            </div>
            

            <div class="conteudo2-box">
                <a href="https://univesp.br/institucional">
                    <img class="conteudo2-img" src="../static/img/intitucional.png" alt="Institucional">
                </a>
            </div>
        </section>
    </main>

    <footer class="rodape">
        <h3 class="rodape-titulo">UNIVESP - Universidade Virtual do Estado de São Paulo.</h3>
        <p class="rodape-polo">Polo Pradópolis - Rua Presidente Vargas, 748, Pradópolis, SP. CEP 14850-000 - +55 (16) 99268-9989 / pradopolis@polo.univesp.br</p>
        <p class="rodape-polo">Polo Sorocaba 1 - Avenida General Osório, 1840, Vila Barão, CEP 18060-502 - +55 (15) 3316-1666/ 3316-1656/ 3316-1657/ sorocaba@polo.univesp.br</p>
        <p class="rodape-polo">Polo Sorocaba 2 - Parque Tecnológico - Avenida Itavuvu, 11.777- Distrito Industrial Zona Norte, CEP 18078-005 - +55 (15) 3316-2323/ sorocaba.tecnologico@polo.univesp.br</p>
    </footer>
    
</body>
</html>