<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina dos Polos UNIVESP Pradópolis e Sorocaba">
    <link rel="stylesheet" type="text/css" href="../static/estilos/style.css">
    <title>Polos UNIVESP</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-img" src="..\static\img\logo-univesp.png" alt="Logo da UNIVESP">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item">Vestibular</a>
            <a class="cabecalho-menu-item">Cursos</a>
            <a class="cabecalho-menu-item">Institucional</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-vestibular1">
            <div class="conteudo-vestibular1-escrito">
                <div class="conteudo-vestibular1-escrito1">
                    <h1 class="conteudo-vestibular1-escrito-titulo">Deixe seu email para</h1>
                    <p class="conteudo-vestibular1-escrito-subtitulo">Para receber informações do nosso <strong class="bold-content">Vestibular!</strong></p>
                </div> 
                <div class="conteudo-vestibular1-formulario">
                    <input class="conteudo-vestibular1-email" type="email" placeholder="Deixe Seu Melhor e-mail"/>
                
                    <button class="conteudo-vestibular1-email-botao">Enviar</button>
                    
                </div>
            </div>
            <div class="conteudo-vestibular2">
                <img  class="conteudo-vestibular2-img" src="../static/img/Vestibular_2022.png" alt="Último Vestibular">
            </div>
        </section>

        <section class="conteudo2">
            <div class="conteudo2-cursos">
                <img class="conteudo2-cursos-img" src="../static/img/cursos.png">
            </div>
            

            <div class="conteudo2-institucional">
                <img src="../static/img/intitucional.png">
            </div>
        </section>
    </main>

    <footer class="rodape">
        <h3 class="rodape-titulo">UNIVESP - Universidade Virtual do Estado de São Paulo.</h3>
        <p class="rodape-polo-pradopolis">Polo Pradópolis - Endereço, nº - escola - Centro - Pradópolis-SP. CEP 14850-000 - +55 16 telefone</p>
        <p class="rodape-polo-sorocaba">Polo Sorocaba - Endereço, nº - escola - Centro - Sorocaba-SP. CEP 14850-000 - +55 ddd telefone</p>
    </footer>
</body>
</html>