*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS';
}

body{
    font-size: 100%;
    min-width: 700px;
}

.cabecalho{
    background:#808080;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    
}

.cabecalho-img{
    height: 50px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-size: 20px;
    color: #bcbcbc;
}

.conteudo{
    background: #C4C4C4;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: center;
}

.conteudo-vestibular1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.conteudo-vestibular1-escrito{
    display: flex;
    flex-direction: column;
    color: #7f8081;
    min-width: 450px;
}

.conteudo-vestibular1-escrito1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-vestibular1-escrito-titulo{
    font-size: 41px;
    font-weight: 700;
}

.conteudo-vestibular1-escrito-subtitulo{
    font-size: 20px;
}

.bold-content{
    color: #2d2e2d;
    font-weight: 700;
}

.conteudo-vestibular1-formulario{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.conteudo-vestibular1-form{
    width: 400px;
    font-size: 20px;
}

.conteudo-vestibular2{
    padding-bottom: 12px;
}

.conteudo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}
.conteudo2-img{
    min-width: 350px;
    height:auto;

}

.rodape{
    background: #303030;
    height: 120px;
    color: #808080;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;;
}

